:root {
    font-family: sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color: #222;
    background-color: #ffffff;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    display: flex;
    align-items: start;
    min-height: 100vh;
    font-size: 16px;
}

#app {
    box-sizing: border-box;
    margin: 0;
    padding: 0.3em 0.5em;
    width: 100%;
}

header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 0.5em 0;
}

h1 {
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
    padding: 0 1em 0 0;
}

.logo {
    display: block;
    width: 50px;
    height: 50px;
}

.latest {
    display: flex;
    margin: 0 0 0.8em 0;
    color: #696969;
}

.latest .title {
    flex: 1;
}

.latest .wind {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.9em;
    text-align: right;
    padding: 0 0.8em 0 0;
}

.latest .value {
    font-weight: bold;
}

.latest .unit {
    font-size: 0.8rem;
}

.latest .direction {
    position: relative;
    height: 50px;
}

.latest .circle {
    box-sizing: border-box;
    border: 1px solid #cecece;
    border-radius: 50%;
}

.latest .arrow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 50px;
    font-size: 1.8em;
    color: #696969;
}

.speedChart {
    display: grid;
    grid-template-columns: auto 1.6em 1.7em;
    grid-template-rows: min-content 200px 1.5em;
    grid-template-areas:
        'a      title-kmh  title-kt'
        'chart  kmh        knots'
        'time   b          b';
}

.chart {
    grid-area: chart;
}

.timeaxis {
    grid-area: time;
    border-top: 1px solid #cecece;
    position: relative;
}

.timeaxis .xlabel {
    position: absolute;
    top: 0;
    font-size: 0.7em;
    line-height: 1.3em;
    color: #696969;
}

.timeaxis .xlabel .tick {
    width: 50%;
    height: 6px;
    box-sizing: content-box;
    border-right: 1px solid #cecece;
}

.speedChart .title-kmh,
.speedChart .title-kt {
    padding: 0 0 0.3em 0;
    font-size: 0.6em;
    color: #696969;
    text-align: center;
}

.speedChart .title-kmh {
    grid-area: title-kmh;
}

.speedChart .title-kt {
    grid-area: title-kt;
}

.kmhaxis {
    grid-area: kmh;
    height: 100%;
    border-left: 1px solid #cecece;
    position: relative;
}

.ylabel {
    position: absolute;
    left: 0;
    font-size: 0.7em;
    line-height: 1.3em;
    color: #696969;
    vertical-align: bottom;
    margin: -0.6em 0 0 0;
}

.kmhaxis .ylabel,
.ktaxis .ylabel {
    margin: -2.1em 0 0 0;
}

.ylabel .tick {
    display: inline-block;
    width: 6px;
    height: 0.3em;
    border-top: 1px solid #cecece;
    margin: 0 1px 0 0;
}

.ktaxis {
    grid-area: knots;
    height: 100%;
    position: relative;
}

.directionChart {
    display: grid;
    grid-template-columns: auto 3.3em;
    grid-template-rows: 200px;
    grid-template-areas: 'chart diraxis';
}

.directionChart .chart {
    background: rgb(243, 243, 243);
}

.diraxis {
    grid-area: diraxis;
    height: 100%;
    position: relative;
}

@media (min-width: 640px) {
    #app {
        min-width: 600px;
        max-width: 1024px;
    }
}

/* @media (prefers-color-scheme: dark) {
    :root {
        color: #ccc;
        background-color: #1a1a1a;
    }

    .chart {
        background-color: #161616;
    }
} */
